<div class="profiles">
<!--   Figure out associations-->
  <h4 align="center">Age: <%= profile.age %></h4>
  <h4 align="center">Tagline: <%= profile.tagline %></h4>
  <h4 align="center">About me: <%= profile.about_me %></h4>
  <h4 align="center">QUIRKKK: <%= profile.quirk %></h4>
  <h4 align="center">Location: <%= profile.location %></h4>

  <!-- <a href="/profiles</<%# profiles.id%>/edit">Edit Profile</a>
 -->
</div>
