<form action='/users/<%=curr_user.id%>' method='post'>
  <input type='hidden' name='_method' value='put' />

  <input type='text' placeholder='name' name='name'value="<%= curr_user.name %>" />
  <input type='text' placeholder='email'  name='email' value="<%= curr_user.email %>" />
  <input type='text' placeholder='username'name='username' value="<%= curr_user.username %>" />
  <input type='text' placeholder='password'name='password' value="<%= curr_user.password %>" />
  <input type='submit' value='Update' />
</form>
